@charset "UTF-8";

#content {
	margin: 0 auto;
	width: 100%;
	text-align: center;
/* 	border: 1px solid black; */
}

.info {
	width: 85%;
	text-align: left;
	display: inline-block;
	padding-bottom: 15px;
	border-bottom: 2px solid black;
}

.info p {
	margin-bottom: 20px;
}

.info a {
	display: inline-block;
}

#a-first {
	padding-right: 15px;
	border-right: 1px solid gray;
}

#a-second {
	padding-left: 15px;
}


