@charset "UTF-8";

#plus_info{
	border:solid 0px red;
	margin:0 auto;
	width:700px;
}

.tit{
	font-size:25px;
	color:#ffc107;
	text-align:center;
	margin-bottom:25px;
}

.label{
	font-size:15px;
	color:#ffc107;
	border:solid 0px blue;
	width:250px;
	height:35px;
	line-height:35px;
	text-align:center;
	float:left;	
}

.nickname,.email,.member_type,.phone_num{
	width:700px;
	margin-bottom:10px;
	border:solid 0px blue;
	overflow:hidden;	
}

.nickname input,.email input,
.phone_num select,.phone_num input,.phone_num div{
	float:left;
	margin-right:3px;
}

.member_type{
	line-height:35px;
}

.member_type input{
	margin:auto 10px;
}

.msg{
	border:solid 0px blue;
	color:red;
	text-align:center;
	margin:20px 0px;
	font-size:13px;
}

.label2{
	font-size:15px;
	color:#ffc107;
	border:solid 0px blue;
	width:250px;
	text-align:center;
	float:left;	
}

.last_btn{
	text-align:center;
	margin-top:50px;
}