<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kitri.jejusari.mapper.SalesMapper">
	
	<!-- 상세페이지 -->
	<select id="sales_detail_select" parameterType="int" resultType="com.kitri.jejusari.dto.SalesDto">
		select * from sales where sales_number = #{sales_number}
	</select>
	<select id="sales_broker_select" parameterType="String" resultType="com.kitri.jejusari.dto.MemberDto">
		select * from member where member_id = #{member_id} 
	</select>
	<select id="sales_scrap_check" parameterType="java.util.Map" resultType="int">
		select count(*) from scrap where sales_number=#{sales_number} and member_id=#{member_id}
	</select>
	<insert id="sales_scrap_do" parameterType="java.util.Map">
		insert into scrap values(#{member_id},seq_scrap_number.nextval,#{sales_number})
	</insert>
	<delete id="sales_scrap_delete" parameterType="java.util.Map">
		delete from scrap where member_id=#{member_id} and sales_number=#{sales_number}
	</delete>
	<select id="sales_scrap_count" parameterType="int" resultType="int">
		select count(*) from scrap where sales_number=#{sales_number}
	</select>
	<select id="sales_select_img" parameterType="int" resultType="com.kitri.jejusari.dto.SalesImgDto">
		select * from sales_img where sales_number=#{sales_number} order by image_index
	</select>

	<!--  -->
	<select id="sales_getCount" parameterType="java.util.HashMap" resultType="int">
		select nvl(count(*), 0) from (
			select sales_number from sales where (sales_check_blind is null or sales_check_blind=0)
				<if test="sales_category_type!=null and !sales_category_type.equals('')">
				and sales_category_type IN
				<foreach collection="sales_category_type_list" item="item" index="index"  open="(" separator="," close=")">
				       #{item}
				</foreach>
				</if>
				<if test="sales_category_rent!=null">
					<if test="!sales_category_rent.equals('')">
						and sales_category_rent=#{sales_category_rent}
					</if>
				</if>
				<if test="sales_address!=null and !sales_address.equals('')">
					and ( (sales_address || sales_title) like '%' || #{sales_address} || '%') 
				</if>
				<if test="sales_option!=null and !sales_option.equals('')">
					<foreach collection="sales_option_list" item="item" index="index"  open="and" separator="and">
						sales_option like '%'||#{item}||'%'
					</foreach>
				</if>
		)
	</select>
	
	<select id="sales_list" parameterType="java.util.HashMap" resultType="com.kitri.jejusari.dto.SalesDto">
		<![CDATA[
			select b.* From (
				select rownum rnum, a.* From (
					select * from sales where (sales_check_blind is null or sales_check_blind=0) ]]>
    					<if test="sales_category_type!=null and !sales_category_type.equals('')">
						and sales_category_type IN
						<foreach collection="sales_category_type_list" item="item" index="index"  open="(" separator="," close=")">
						       #{item}
						</foreach>
						</if>
						<if test="sales_category_rent!=null">
							<if test="!sales_category_rent.equals('')">
								and sales_category_rent=#{sales_category_rent}
							</if>
						</if>
						<if test="sales_address!=null and !sales_address.equals('')">
							and ( (sales_address || sales_title) like '%' || #{sales_address} || '%') 
						</if>
						<if test="sales_option!=null and !sales_option.equals('')">
							<foreach collection="sales_option_list" item="item" index="index"  open="and" separator="and">
								sales_option like '%'||#{item}||'%'
							</foreach>
						</if>
		<![CDATA[	
					order by sales_number desc		
				) a
			) b 
			where b.rnum>=#{startRow} and b.rnum<=#{endRow}
		]]>
	</select>
	
	
	<insert id="sales_write" parameterType="com.kitri.jejusari.dto.SalesDto">
		insert into sales (sales_number, member_id, sales_date, sales_title, sales_content, sales_category_type, sales_category_rent, sales_deposit, sales_cost, sales_area, sales_address, sales_option, sales_build_year, sales_floor) 
		values (seq_sales_number.nextval, #{member_id}, sysdate, #{sales_title}, #{sales_content}, #{sales_category_type}, #{sales_category_rent}, #{sales_deposit}, #{sales_cost}, #{sales_area}, #{sales_address}, #{sales_option}, #{sales_build_year}, #{sales_floor} )
	</insert>
	
	<delete id="sales_delete1" parameterType="com.kitri.jejusari.dto.SalesDto">
		delete from sales_img where sales_number = #{sales_number}
	</delete>
	
	<delete id="sales_delete2" parameterType="com.kitri.jejusari.dto.SalesDto">
	delete from scrap where sales_number = #{sales_number}
	</delete>
	
		<delete id="sales_delete3" parameterType="com.kitri.jejusari.dto.SalesDto">
		delete from factor where sales_number = #{sales_number}
	</delete>
	
		<delete id="sales_delete4" parameterType="com.kitri.jejusari.dto.SalesDto">
		delete from report where sales_number = #{sales_number}
	</delete>
	
		<delete id="sales_delete5" parameterType="com.kitri.jejusari.dto.SalesDto">
			delete from sales where sales_number = #{sales_number}
	</delete>
	
	<update id="sales_update" parameterType="java.util.Map">
		update sales set sales_title=#{salesDto.sales_title},sales_content=#{salesDto.sales_content},
				sales_category_type=#{salesDto.sales_category_type},sales_category_rent=#{salesDto.sales_category_rent},
				sales_deposit=#{salesDto.sales_deposit}, sales_cost=#{salesDto.sales_cost}, sales_area=#{salesDto.sales_area}, 
				sales_address=#{salesDto.sales_address}, sales_option=#{salesDto.sales_option}, sales_build_year=#{salesDto.sales_build_year},
				sales_floor=#{salesDto.sales_floor}
		 where sales_number=#{sales_number}
	</update>
	
	
	<select id="get_member_id" resultType="String">
		select member_id from sales where sales_number = #{sales_number}
	</select>

	<select id="get_address" resultType="String">
		select sales_address from sales where sales_number = #{sales_number}
	</select> 
	
	<!--  -->
	<insert id="insert_factor">
		insert into factor values (
			#{sales_number}, 
			#{factor_total}, 
			#{factor_gas}, 
			#{factor_hospital}, 
			#{factor_tour}, 
			#{factor_public},
			#{factor_mart}
		)
	</insert>
	
	<select id="get_factor" resultType="com.kitri.jejusari.common.LowerKeyMap">
		select * from factor where sales_number = #{sales_number}
	</select>
	
	<update id="db_sales_update" parameterType="java.util.Map">
		update sales set sales_factor_total=#{factor_total} where sales_number=#{sales_number}
	</update>
	
	<select id="factor_all_avg" resultType="float">
		select avg(factor_total) from factor
	</select>
	
	
	<!--  등록한 매물의 sales_number 가져오기-->
	<select id="get_sales_number" resultType="int">
		select *
		from (
		    select sales_number
		    from sales
		    where member_id = #{member_id}
		    order by sales_number desc
		    )
		where rownum = 1
	</select>
	
	<insert id = "salesImg_insert" parameterType = "com.kitri.jejusari.dto.SalesImgDto">
      insert into sales_img(image_index,sales_number,image_url) values(1,#{sales_number},#{image_url})
   </insert>
</mapper>