<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kitri.jejusari.mapper.BoardMapper">

	<insert id="report_insert" parameterType="com.kitri.jejusari.dto.ReportDto">
		insert into report values(seq_report_number.nextval, #{member_id}, sysdate,#{report_title},#{report_content},0,#{sales_number})
		
	</insert>
	
	<!-- 공지사항 -->
	<insert id = "notice_write" parameterType = "com.kitri.jejusari.dto.NoticeDto">
		insert into notice(notice_number, notice_title, notice_date, notice_content, notice_count, member_id) values(seq_notice_number.nextval, #{notice_title}, sysdate, #{notice_content}, #{notice_count}, #{member_id})
	</insert>
	
	<update id="notice_readCount" parameterType="int">
		update notice set notice_count = notice_count + 1 where notice_number = #{notice_number}
	</update>
	
	<select id="notice_read" parameterType="int" resultType="com.kitri.jejusari.dto.NoticeDto">
		select * from notice where notice_number = #{notice_number}
	</select>
	
	<select id="notice_count" resultType="int">
		select nvl(count(*),0) from notice
	</select>
	
	<select id="notice_list" parameterType="java.util.HashMap" resultType="com.kitri.jejusari.dto.NoticeDto">
		<![CDATA[
			select b.* From (select rownum rnum, a.* From (select * from notice order by notice_number desc) a) b where b.rnum>=#{startRow} and b.rnum<=#{endRow}
		]]>
	</select>
	
	<!-- 게시글 삭제 -->
	<delete id = "notice_delete" parameterType = "int">
		delete from notice where notice_number = #{notice_number}
	</delete>
	
	<!-- 게시글 수정 -->
	<update id="notice_update" parameterType = "com.kitri.jejusari.dto.NoticeDto">
		update notice set notice_title = #{notice_title}, notice_content = #{notice_content} where notice_number = #{notice_number}
	</update>
	
	<!-- 관리자 신고 -->
	<!-- 신고 내역 리스트 -->
	<select id="reportList" parameterType="java.lang.String" resultType="com.kitri.jejusari.dto.ReportDto">
		select * from report
	</select>
	
	<!-- 신고 및 매물 삭제 -->
	<delete id="reportDel"  parameterType="int">
		delete from sales where sales_number=#{sales_number}
	</delete>	
	
	<!-- 신고 상세 보기 -->
	<select id="detailSelect" parameterType="int" resultType="com.kitri.jejusari.dto.ReportDto">
		select * from report
		where report_number=#{report_number} 
	</select>
	
	<select id="reportadmin_count" resultType="int">
		select nvl(count(*),0) from report
	</select>
	
	<select id="reportadmin_list" parameterType="java.util.HashMap" resultType="com.kitri.jejusari.dto.ReportDto">
		<![CDATA[
			select b.* From (select rownum rnum, a.* From (select * from report order by report_number desc) a) b where b.rnum>=#{startRow} and b.rnum<=#{endRow}
		]]>
	</select>
	
	<!-- 신고 처리 업데이트 -->
	<update id="checkUpdate" parameterType = "int">
		update sales set SALES_CHECK_BLIND = 1
				 where sales_number = #{sales_number} 
	</update>
	
	<update id="updateReportAdmin" parameterType = "int">
		update report set check_complete = 1
		where sales_number = #{sales_number}
	</update>
</mapper>