<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kitri.jejusari.mapper.MemberMapper">
	
	<select id="member_id" resultType="String">
		select * from member
	</select>
	
	<insert id="member_join">
		insert into member values (
			#{member_id}, 
			seq_member_number.nextval, 
			#{member_name}, 
			#{member_email},
			#{member_phone, jdbcType=VARCHAR},
			#{member_level},
			sysdate
		)
	</insert>
	
	<!-- 로그인 -->
	<select id="member_login" resultType="com.kitri.jejusari.dto.MemberDto">
		select member_id, member_name, member_level
		from member where member_id = #{member_id}
	</select>
	
	<!-- 관리자 회원 -->
	<!-- 회원 내역 리스트 -->
	<select id="memberList" parameterType="java.lang.String" resultType="com.kitri.jejusari.dto.MemberDto">
		select * from member
	</select>
	
	<!-- 회원 삭제 -->
	<delete id="dropMember" parameterType="java.util.HashMap">
        delete
        from
            member
        where
            member_number IN <foreach collection="list" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>
	
	<select id="member_id_check" resultType="int">
		select count(*) from member where member_id = #{member_id}
	</select>
	
	<!-- 회원탈퇴 -->
	<delete id="member_delete">
		delete from member where member_id = #{member_id}
	</delete>
	
	<!-- 내 스크랩 가져오기 -->
	<select id="getScrap" parameterType="String" resultType="com.kitri.jejusari.dto.SalesImgDto">
		<!-- select image_url
		from sales_img
		where sales_number in 
		<foreach collection="list" item="item" separator="," open="(" close=")">
			(
				#{item}
			)
		</foreach>
		and image_index=1
		order by sales_number -->
		
		select image_url, s.sales_number, l.sales_title
		from sales_img s, sales l
		where s.sales_number in (
            select sales_number
            from scrap
            where member_id = #{member_id}
        )
        and s.sales_number=l.sales_number
		and image_index=1
	</select>
	
	<!-- 내 매물 가져오기 -->
	<select id="getSales" parameterType="String" resultType="com.kitri.jejusari.dto.SalesImgDto">
		select image_url, s.sales_number, l.sales_title
		from sales_img s, sales l
		where s.sales_number in (
            select sales_number
            from sales
            where member_id = #{member_id}
        )
        and s.sales_number=l.sales_number
		and image_index=1
	</select>
	
	<!-- 매물번호 from 스크랩 게시판 -->
	<!-- <select id="getScrapSalesNumber" parameterType="String" resultType="String">
		select sales_number from scrap where member_id=#{member_id} order by scarp_number
	</select> -->
	
	<!-- 매물번호 from 매물 게시판 -->
	<!-- <select id="getSalesSalesNumber" parameterType="String" resultType="String">
		select sales_number from sales where member_id=#{member_id}
	</select> -->
	
	<select id="memberadmin_count" resultType="int">
		select nvl(count(*),0) from member
	</select>
	
	<select id="memberadmin_list" parameterType="java.util.HashMap" resultType="com.kitri.jejusari.dto.MemberDto">
		<![CDATA[
			select b.* From (select rownum rnum, a.* From (select * from member order by member_number desc) a) b where b.rnum>=#{startRow} and b.rnum<=#{endRow}
		]]>
	</select>
	
	<update id="member_update">
		update member set 
			member_name = #{member_name},
			member_phone = #{member_phone, jdbcType=VARCHAR},
			member_email = #{member_email}
		where member_id = #{member_id}
	</update>
	
</mapper>